*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 10fr;
    height:100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
section{
    display: grid;                          /*make cards look like a book? */
    grid-template-columns: 1fr 1fr 1fr 1fr; /*get this to be the size based on width of the screen */
    gap: 5vw;                               /*make a div for the form and make it be as long as the screen */
}
header img{
    height: 150px;
    width: 150px;
    padding: 10px;
}
#formDiv{
    padding: 0vw 4vw 0vw 4vw;
    background-color: blue;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formDiv h1{
    font-size: 50px;
    padding: 20px;
}
form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 200px; 
    width: 200px;
    gap: 1em;
}

section div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid 1px blue;
    padding: 25px;
}
#right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center; 
    gap: 2em;
}
#rightR{
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 5vw;
}
#removeAll{
    height:50px;
    width: 100px;
}